// Vars
border_color = #F4F4F4
border = 1px solid rgba(0,0,0,0.12)
border_bottom = 1px solid rgba(0,0,0,0.12)
black = #000
blue_calendar = #1565C0
blue_darken_4 = #0D47A1
blue_lighten_4 = #BBDEFB
content_background-color = #FAFBFC
datatable_header_color_type1 = #E6E8ED
datatable_header_color_type2 = #F6F8FC
datatable_padding = 338px
datatable_row_hover = #FFFAF4!important
header_components_height = 42px
gray_dark = #27333C
gray = #212121
gray_type2 = #BFBFBF!important
green = #58C0B7
orange = #F4B781
primary = #00A0D3
red = #E6A3C3
tabs_color = #fff
teal = #009688
text_color = rgba(0,0,0,0.54)
white = #fff


$body-font-family = 'Ubuntu', sans-serif
$alert-padding = 10px
$alert-margin = 0 auto
$data-table-heading = blue_calendar
$data-table-heading-text = white



@import '../../node_modules/vuetify/src/stylus/main.styl'
@import '../../node_modules/vuetify/src/stylus/app.styl'

// General
.application--wrap > div
    z-index: 9

.content--wrap
    background-color: content_background-color
    // padding: 10px;

.container.grid-list-xl
    max-width: 1600px
    padding: 30px 60px

.strong
    color: black

// Breadcrumbs
.breadcrumbs
    padding-top: 0
    padding-left: 0

.breadcrumbs--large li
    font-size: 20px

// Button styles
.btn__content
    padding: 0 8px 0 6px

.btn .icon--left
  margin-right: 4px


.btn
    height: 28px
    font-size: 13px;
    &.accent
        background-color-color: blue_calendar!important
    &.accent--text
        border-color: blue_calendar!important
        color: blue_calendar!important
    &--floating
        height 56px


// Card styles
.card__title
    text-transform: uppercase

.card__text
    padding: 0 22px 14px 22px

// Chips styles
.chip
    height: 20px
    .chip__content
        height: 20px

// .card__row-title
//     padding: 8px 16px 6px 0

// Datatable style
.datatable
    background-color: white!important
    color: text_color

    tr
        height: 52px

    tr:hover
        background: datatable_row_hover

    th
        height: header_components_height

.account-datatable
        th
            background-color: datatable_header_color_type1

.dashboard-datatable

    .datatable
        border-top: 3px solid #BDD0FB

        th
            background-color: datatable_header_color_type1

.apps-datatable

    .datatable
        color: text_color

        td
            height: 52px;
            // border-bottom: 1px solid green
        th
            background-color: datatable_header_color_type2

        th:first-of-type
            position: absolute
            width: datatable_padding
            display: flex
            align-items: center

        th:nth-child(2)
            padding-left: datatable_padding

        i
            color: gray_type2
            padding-left: 1px

    // .datatable__actions
    //     background-color: data_table_color!important
    //     color: white!important

    // .datatable__actions__select
    //     i
    //         color: white!important

// Dialog styles
.dialog
    background-color: white

// Form elements
.input-group
    label
        font-size: 14px

.input-group.dau__text
    label
        font-size: 10px

.input-group__details:after
   height: 1px

// Subheader
.subheader
    padding: 0
    margin-bottom: 14px

//Table styles
table.table thead tr
  height: header_components_height

// Tabs styles
.tabs__wrapper
  border: 1px solid border_color
  border-top: 3px solid #E6E8ED;

.tabs__container
    height: tabs_height

    &--icons-and-text
        height: tabs_height
    .tabs__div
        height: tabs_height

        @media $display-breakpoints.sm-and-up
          min-width: 100px

.tabs__item
  border-bottom 4px solid white
  border-top 4px solid white

    ^[0]:hover
      border-bottom 4px solid green

.tabs__items
    padding: 0 20px
    background-color: tabs_color
    border-left: border
    border-right: border

.tabs__item--active
    box-sizing: border-box
    border-bottom 4px solid green



